@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Timmana&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: auto;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 35px;
}

.logo img {
  width: 160px;
  padding-left: 35px;
  padding-top: 15px;
}

li {
  display: inline-block;
  margin: 20px;
}

a {
  color: #D46166;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 22px;
}

a:hover {
  color: #99C98A;
  transition: 0.3s all;
}

main {
  height: 560px;
}

.home {
  display: flex;
  flex-direction: column;
  padding-left: 26px;
  padding-top: 20px;
}

.home p {
  color: #D46166;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  font-size: 24px;
  padding-top: 20px;
}

.home h1 {
  line-height: 90px;
  padding-top: 20px;
  width: 600px;
  font-size: 75px;
  font-weight: 600;
  line-height: 80px;
}

h2 {
  width: 580px;
  color: #6B6666;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  padding-top: 20px;
}

.img-home img {
  width: 460px;
  height: 460px;
  position: absolute;
  left: 705px;
  top: 160px;
}

.circle {
  width: 460px;
  height: 460px;
  background-color: #FF9898;
  border-radius: 50%;
  position: absolute;
  left: 720px;
  top: 140px;
}

.home button {
  margin-top: 30px;
  color: white;
  font-size: 22px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  background-color: #99C98A;
  border: none;
  border-radius: 30px;
  width: 200px;
  height: 70px;
}

.home button:hover {
  background-color: #709a64;
  transition: 0.3s;
}

.size-section {
  width: 100%;
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-icons {
  background-color: #DD696E;
  border: 15px solid #FF9898;
  width: 1130px;
  height: 340px;
  border-radius: 15px;
  box-shadow: -5px 0 5px #a4a1a1;
  padding-left: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.plant-icons img {
  padding-left: 35px;
}

.cup-icons p,
.plant-icons p,
.stb-icons p {
  padding-top: 15px;
  color: #FFFFFF;
  font-size: 22px;
  font-family: "Amaranth", sans-serif;
}

.section-store {
  width: 100%;
  height: 450px;
  padding-top: 35px;
}

.square-store {
  width: 475px;
  height: 318px;
  background-color: #99C98A;
  border-radius: 6%;
  position: absolute;
  left: 640px;
  top: 1170px;
}

.img-store img{
  position: absolute;
  left: 690px;
  top: 1120px;
}

.letter-two {
  padding-left: 45px;
}

.letter-two h1 {
  font-size: 55px;
  width: 420px;
}

.letter-two h2 {
  padding-top: 12px;
  width: 490px;
}

.letter-two button {
  margin-top: 30px;
  color: white;
  font-size: 22px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  background-color: #D46166;
  border: none;
  border-radius: 40px;
  width: 220px;
  height: 65px;
}

.letter-two button:hover {
  background-color: #af4c51;
  transition: 0.3s;
}

.section-sabores {
  width: 100%;
  height: 540px;
}

.circle-two {
  width: 460px;
  height: 440px;
  background-color: #99C98A;
  border-radius: 50%;
  position: absolute;
  left: 70px;
  top: 1540px;
}

.img-circle-cty img {
  width: 260px;
  position: absolute;
  left: 90px;
  top: 60px;
}

.img-circle-crm img {
  width: 240px;
  position: absolute;
  left: 35px;
  top: 40px;
  filter: blur(2px);
}

.img-circle-stb img {
  width: 200px;
  position: absolute;
  left: 200px;
  top: 40px;
  filter: blur(2px);
}

.letter-three {
  padding-top: 55px;
  padding-left: 15px;
  position: absolute;
  left: 600px;
  top: 1560px;
}

.letter-three h1 {
  font-size: 52px;
}

.letter-three h2 {
  padding-top: 12px;
}

.faixa-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 1050px;
}

.conteudo {
  padding-top: 150px;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card {
  width: 240px;
  height: 340px;
  perspective: 1000px;
}

.flip-horizontal-right:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-horizontal-right .flip-card-back {
  transform: rotateY(180deg);
}

.flip-horizontal-left:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.flip-horizontal-left .flip-card-back {
  transform: rotateY(-180deg);
}

.flip-vertical-up:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-vertical-up .flip-card-back {
  transform: rotateX(180deg);
}

.flip-vertical-down:hover .flip-card-inner {
  transform: rotateX(-180deg);
}

.flip-vertical-down .flip-card-back {
  transform: rotateX(-180deg);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front p {
  color: white;
  font-size: 36px;
  font-family: "Timmana", sans-serif;
  font-weight: 400;
  position: relative;
  left: 20px;
  top: -30px;
}

.flip-card-back p {
  max-width: 180px;
  color: white;
  font-size: 20px;
  font-family: "Timmana", sans-serif;
  font-weight: 400;
  position: relative;
  left: 30px;
  top: -90px;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #D46166;
  object-fit: cover;
}

.flip-card-front img,
.flip-card-back img {
  width: 100%;
  height: 50%;
  position: relative;
  left: -5px;
  top: -100px;
}

.section-phone {
  width: 100%;
  height: 530px;
  padding-top: 20px;
  padding-left: 50px;
}

.phone-text-img h1 {
  font-size: 48px;
  padding-left: 40px;
  padding-bottom: 50px;
}

.phone-text-img img {
  width: 40%;
  position: absolute;
  left: 700px;
  top: 3230px;
}

.retangle-phone {
  width: 960px;
  height: 190px;
  background-color: #FF9898;
  border-radius: 20px;
}

.text-phone1 img,
.text-phone2 img,
.text-phone3 img {
  width: 45px;
  display: flex;
  padding-left: 10px;
}

.text-phone1,
.text-phone2,
.text-phone3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  display: flex;
  padding-top: 19px;
  padding-left: 40px;
  gap: 10px;
}

.text-phone1 p,
.text-phone2 p,
.text-phone3 p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  display: flex;
  padding-top: 5px;
  font-weight: 600;
}

.grid {
  width: 100%;
  height: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.container article {
  width: 380px;
  height: 380px;
  position: relative;
}

.container article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 2px 2px 5px rgb(151, 150, 150);
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f7bcbc;
  top: 0;
  right: 0;
  gap: 10px;
  padding: 10px;
  opacity: 0;
  transition: opacity .5s ease;
}

.overlay:hover {
  opacity: 0.8;
}

footer {
  width: 100%;
  height: 430px;
  background-color: #624343;
  display: flex;
  justify-content: space-around;
}

footer li {
  color: white;
  margin: 20px;
  font-family: "Fjord One", serif;
  font-weight: 500;
  font-size: 36px;
}

hr {
  width: 290px;
  margin-left: 10px;
}

.tel-footer,
.whats-footer,
.insta-footer,
.local-footer,
.carta-footer {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  display: flex;
  padding-top: 19px;
  padding-left: 8px;
  gap: 10px;
}

.tel-footer img,
.whats-footer img,
.insta-footer img,
.local-footer img,
.carta-footer img {
  width: 45px;
  display: flex;
  padding-left: 10px;
}

.tel-footer p,
.whats-footer p,
.insta-footer p,
.local-footer p,
.carta-footer p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 16px;
  color: white;
  display: flex;
  padding-top: 14px;
  font-weight: 500;
  font-style: normal;
}

.menu-footer p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 16px;
  color: white;
  padding-top: 24px;
  font-weight: 500;
  font-style: normal;
}

.menu-footer ul p {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 16px;
  color: #F89FA3;
  padding-top: 24px;
  font-weight: 500;
  font-style: normal;
}

.location-footer img {
  width: 16%;
  display: flex;
  padding-top: 19px;
  padding-left: 8px;
}

iframe {
  width: 100%;
  height: 40%;
  box-shadow: 0px 0px 0px 5px #dab6b7;
}

@media screen and (max-width: 500px) {
  header {
    width: 100%;
    height: 40px;
  }

  ul {
    display: none;
  }

  main {
    height: 730px;
    padding-left: 40px;
  }

  .logo img {
    height: 60px;
    position: relative;
    top: 8px;
    left: 140px;
  }

  .home h1 {
    line-height: 70px;
    font-size: 45px;
    width: 380px;
  }

  .home p {
    font-size: 18px;
    width: 380px;
  }

  .home p img {
    width: 7%;
  }

  h2 {
    font-size: 18px;
    width: 390px;
    padding: 3px;
  }

  .img-home img {
    width: 40%;
    position: absolute;
    left: 130px;
    top: 355px;
  }

  .circle {
    width: 320px;
    height: 320px;
    position: absolute;
    left: 75px;
    top: 375px;
  }

  .home button {
    display: none;
  }

  .size-section {
    height: 950px;
  }

  .section-icons {
    width: 380px;
    height: 920px;
    flex-direction: column;
    padding-left: 0px
  }

  .cup-icons img {
    padding-left: 15px;
  }

  .plant-icons img,
  .stb-icons img {
    padding-left: 50px;
  }

  .section-store {
    height: 690px;
    padding-top: 35px;
  }

  .square-store {
    width: 370px;
    height: 260px;
    position: absolute;
    left: 50px;
    top: 2020px;
  }

  .img-store img {
    width: 370px;
    height: 260px;
    position: absolute;
    left: 90px;
    top: 1990px;
  }

  .letter-two h1 {
    font-size: 45px;
  }

  .letter-two h2 {
    padding-top: 12px;
    width: 390px;
    padding-bottom: 310px;
  }

  .letter-two button {
    margin-left: 85px
  }

  .section-sabores {
    width: 100%;
    height: 660px;
  }
  
  .circle-two {
    width: 350px;
    height: 330px;
    position: absolute;
    left: 60px;
    top: 2680px;
  }
  
  .img-circle-cty img {
    width: 180px;
    position: absolute;
    left: 80px;
    top: 60px;
  }
  
  .img-circle-crm img {
    width: 160px;
    position: absolute;
    left: 25px;
    top: 40px;
  }
  
  .img-circle-stb img {
    width: 130px;
    position: absolute;
    left: 180px;
    top: 40px;
  }
  
  .letter-three {
    position: absolute;
    left: 25px;
    top: 2400px;
  }
  
  .letter-three h1 {
    font-size: 45px;
  }
  
  .letter-three h2 {
    padding-top: 12px;
  }

  .conteudo {
    padding-top: 50px;
    height: 60vh;
  }
  
  .flip-card {
    width: 160px;
    height: 230px;
  }

  .faixa-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 900px;
  }

.flip-card-back p {
  width: 130px;
  font-size: 14px;
  position: relative;
  left: 20px;
  top: -60px;
}

.flip-card-front p {
  font-size: 22px;
  position: relative;
  left: 20px;
  top: -25px;
}

.flip-card-front img,
.flip-card-back img {
  position: relative;
  left: -5px;
  top: -80px;
}

.section-phone {
  width: 100%;
  height: 490px;
  margin-top: 500px;
  padding-left: 20px;
}

.phone-text-img img {
  width: 40%;
  position: absolute;
  left: 270px;
  top: 4730px;
}

.phone-text-img h1 {
  font-size: 34px;
  padding-left: 10px;
}

.retangle-phone {
  width: 440px;
  height: 210px;
}

.grid {
  width: 100%;
  height: 3200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.container article {
  width: 330px;
  height: 330px;
  position: relative;
  left: -15px;
}

.container article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 2px 2px 5px rgb(151, 150, 150);
}

footer {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer li {
  color: white;
  margin: 20px;
  font-family: "Fjord One", serif;
  font-weight: 500;
  font-size: 36px;
}

hr {
  width: 360px;
  margin-left: 10px;
}

.menu-footer p {
  padding-left: 24px;
}

.location-footer img {
  width: 13%;
  display: flex;
  padding-left: 30px;
}

iframe {
  margin-left: 30px;
  width: 60%;
  height: 30%;
  box-shadow: 0px 0px 0px 5px #dab6b7;
}

.location-footer hr{
  display: none;
}
}